
<html>

  <head>

 <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>
    <script src="/js/jquery.rss.js"></script>

    <script>
	  jQuery(function($) {
        $("#feed_adevarul").rss("https://adevarul.ro/ex/yrssv2", {
                  limit:15,
          effect:'show',
		  ssl: true,
		  dateFormat: 'L'
entryTemplate:'<li><a href="{url}">[{author}@{date}] {title}</a><br/>{teaserImage}{shortBodyPlain}</li>'
        })
      })

    </script>

  </head>
  <body>
    <div>

      <div id="feed_adevarul"></div>



    </div>
  </body>
</html>
