
<html>

  <head>

 <script src="js/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>
    <script src="js/jquery.rss.js"></script>


    <script>
       jQuery(function($) {
        $("#ziare_com").rss("https://www.ziare.com/rss/12h.xml", {
          limit:15,
          effect:'show',
		  ssl: true,
		  dateFormat: 'L'
         entryTemplate:'<li><a href="{url}">[{author}@{date}] {title}</a><br/>{teaserImage}{shortBodyPlain}</li>'
        })
      })

    </script>

  </head>
  <body>
    <div>

      <div id="ziare_com"></div>



    </div>
  </body>
</html>
